#roomList {
    position: relative;
    float:left;
    height:100%;
    display: none;
}

#list-room-div {
    position:relative;
    width:calc(100% - 40px);
    height:240px;
    padding:20px 0;
    margin:0 20px;
    border-bottom:1px solid #e6e6e6;
    cursor:pointer;
}

#list-room-images {
    width:300px;
    height:200px;
    float:left;
}

#carouselDiv {
    position: relative;
    float:left;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    margin-right:20px;
}

#roomList-title {
    margin:20px;
    font-size:1.2em;
    font-weight:500;
    width:calc(100% - 40px);
    border-bottom: 1px solid #e6e6e6;
    height:40px;
}

#list-room-content {
    float:left;
    padding:0 20px;
    height:200px;
    width:300px;
    line-height: 1.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.room-title {
    font-weight:700;
    font-size:1.2em;
}
.room-title:hover {
    text-decoration: underline;
}

.room-region {
    font-size:0.7em;
    color:#6e6e6e;
}

.mem-age, .mem-gender, .mem-confirm {
    font-size:0.8em;
    border-radius:2px;
}

.mem-age {
    background:rgb(230, 230, 230);
    color:rgb(95, 95, 95);
}

.m {
    background:rgb(213, 240, 255);
    color:black;
}

.f {
    background:rgb(255, 232, 236);
    color:black;
}

.mem-confirm {
    margin-left:10px;
    background: rgb(230, 255, 251);
    color:rgb(20, 123, 131);
}

.carousel-item {
    width:300px;
    height:200px;
}

@media (min-width: 1560px) {
    #roomList {
        display: block;
        width:calc(100% - 1040px);
    } 
}

@media (min-width: 1900px) {
    #list-room-content {
        width:450px;
    }
}

@media (min-width: 1800px) and (max-width:1899px) {
    #list-room-content {
        width:400px;
    }
}

@media (min-width: 1700px) and (max-width:1799px) {
    #list-room-content {
        width:300px;
    }
}

@media (min-width: 1600px) and (max-width:1699px) {
    #list-room-content {
        width:200px;
    }
}

@media (min-width: 1560px) and (max-width:1599px) {
    #list-room-content{
        width:160px;
    }
}