.room-map-wrap {
    position: fixed;
    right:0;
    height:calc(100% - 60px);
    width:100%;
}

#map {
    z-index: 1 !important;
    position:absolute;
    width:100%;
    height:100%;
}

#search-bar {
    z-index: 2 !important;
    position:absolute;
    display:flex;
    width:400px;
    height:60px;
    left:50%;
    transform: translate(-50%);
    margin-top:20px;
    border-radius: 30px;
    border:1px solid #d1d1d1;
}

.search_icon {
    width:40px;
    height:40px;
    border-radius: 50%;
    padding:6px 7px;
    margin:10px;
}

.icon_size {
    width:23px;
}

@media (min-width: 1560px) {
    .room-map-wrap {
        width:1040px;
    } 
}

@media (min-width: 768px) {
    #search-bar {
        width:740px;
    }
}


