.room-detail-wrap {
    position:relative;
    padding-top:60px;
    height:auto;
    overflow:hidden;
    background:#e6e6e6;
}

#room-detail {
    position:relative;
    width:840px;
    height:auto;
    margin:auto;
    overflow:hidden;
    background:white;
    text-align:center;
}

#carouselDiv {
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
    margin-right:20px;
}

#room-images {
    margin-top:80px;
    width:100%;
    height:530px;
}

.carousel-item {
    width:940px;
    height:530px;
}

#room-content {
    width:100%;
}

#room-detail-head {
    position:fixed;
    width:840px;
    background: white;
    z-index:1;
    border-bottom: 1px solid #e6e6e6;
}

#room-title {
    margin-top:5px;
    height:40px;
    font-size:1.4em;
    font-weight:600;
    line-height:40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#wish-button {
    width:35px;
    height:35px;
    float:right;
    margin-right:5px;
    cursor:pointer;
}

#room-price {
    margin-top:20px;
    height:70px;
    line-height:25px;
    font-weight:700;
}

#room-deposit {
    font-size:0.9em;
}
#room-rent {
    font-size:1.1em;
}

#room-region {
    font-size:0.9em;
    color:gray;
    margin-bottom: 25px;
}

.inner-wrap {
    position:relative;
    width:100%;
    height:auto;
    overflow:hidden;
    padding:0 20px;
    border-top:5px solid #e6e6e6;
}

.inner-title {
    height:70px;
    line-height:70px;
    font-weight:600;
    border-bottom:1px solid #e6e6e6;
    text-align: left !important;
}

.inner-content {
    text-align: left !important;
    font-size:0.9em;
    padding:40px 10px;
    margin-bottom:20px;
}
#option {
    width:100%;
}
#option td{
    border:1px solid #d6d6d6;
    padding:0 20px;
    margin-bottom:20px;
}

#option td:first-child {
    text-align:center !important;
    background: #f2f2f2;
    width:150px;
    height:70px;
}

.tags {
    position:relative;
    display:inline-block;
    width:auto !important;
    overflow: hidden;
    margin:0 auto;
}

#room-tag {
    width:auto !important;
    overflow:hidden;
}

.option-name {
    float:left;
}

.image {
    position:relative;
    float:left;
    margin-right:15px;
    width:50px;
    height:50px;
    overflow:hidden;
    border-radius: 25px;
}
.profile, ref {
    position:relative;
    height:auto;
    overflow:hidden;
}

.inform {
    float:left;
}

.nickname {
    margin-bottom:5px;
    font-weight:700;
    font-size:0.9em;
}

.confirm > span, .no-confirm > span{
    border-radius: 2px;
    font-size:0.7em;
    font-weight:600;
    padding:0 3px;
}

.confirm > span{
    background: rgb(230, 255, 251);
    color:rgb(20, 123, 131);
}

.no-confirm > span{
    background: rgb(218, 218, 218);
    color:rgb(97, 97, 97);
}

.profile img {
    width:100%;
    height:100%;
}

.no-rep {
    text-align:center;
    font-size:0.8em;
    color:#bdbdbd;
    margin-bottom:30px;
}

.tags {
    display:none;
}

@media (max-width: 839px) {
    #room-detail {
        width:100%;
    } 

    #carouselDiv, #room-images {
        height:300px;
    }
}