.search_div{
	margin-top: 5px;
    width: auto;
    height: 30vh;
    background: white;
    box-shadow: 0px 0px 10px grey;
}
.search_div_title{
	margin: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid grey;
    color: grey;
}
.main_icon_size{
	width: 25px;
    margin-bottom: 1.5px;
}
.bg-orange{
	background-color:#FF6600;
}
.border-orange{
	border:3px solid #FF6600;
}
